/* 

File: ultimate.css 
Copyright 2011 by Jim Martens.

*/
/** column layout **/

.ultimateLeft {
    float: left;
    font-size: 0.9em;
    width: 25em;
}

.ultimateRight {
    float: right;
    font-size: 0.9em;
    width: 25em;
}

.ultimateEditor {
    margin-top: -14px;   
}

.ultimatePage {
    margin-top: +17px;   
}

.ultimateCenter {
    margin-top: 0;
    margin-bottom: 0;
}
.ultimateCenter .leftMargin {
    margin-left: 25em;
}
.ultimateCenter .rightMargin {
    margin-right: 25em;
}

fieldset.ultimateInvisible {
    border: 0px;
}

#breadcrumbsFooter {
    position: absolute;
    bottom: 0%;   
    width: 94%;
}

.ultimateContent {
    position: relative;
    bottom: 10px;   
}

/** large buttons - own implementation **/

.ultimateLargeButtons {
    text-align: center;   
}

.ultimateLargeButtons > li {
    display: inline;
}

.ultimateLargeButtons > li > a img {
    margin: -5px 1px -5px -5px;
    vertical-align: middle;
}

@media screen and (min-width: 480px), screen and (min-device-width: 480px) {
    
    .ultimateLargeButtons > li > a img {
        height: 24px;
        width: 24px;
    }
    
}

@media screen and (max-width: 480px), screen and (max-device-width: 480px) {
    
    .ultimateLargeButtons > li {
        font-size: 125%;
    }
    
    .ultimateLargeButtons > li > a {
        padding: 10px 15px !important;
        white-space: nowrap;
    }
    
    .ultimateLargeButtons > li > a img {
        height: 32px;
        width: 32px;
    }
    
}

.ultimateLargeButtons > li > a {
    font-size: 100%;
    font-weight: bold;
    border-radius: 30px;
    margin: 3px 2px;
    padding: 5px 13px;
    display: inline-block;
}

.ultimateLargeButtons > li > a {
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    color: #999;
    border-width: 1px;
    border-style: solid;
    border-color: #ccc #bbb #aaa;
    
    background-color: #fefefe;
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 1), rgba(245, 245, 245, 1) 2px, rgba(235, 235, 235, 1));
    background-image: -moz-linear-gradient(rgba(255, 255, 255, 1), rgba(245, 245, 245, 1) 2px, rgba(235, 235, 235, 1));
    background-image: -ms-linear-gradient(rgba(255, 255, 255, 1), rgba(245, 245, 245, 1) 2px, rgba(235, 235, 235, 1));
    background-image: -o-linear-gradient(rgba(255, 255, 255, 1), rgba(245, 245, 245, 1) 2px, rgba(235, 235, 235, 1));
    background-image: linear-gradient(rgba(255, 255, 255, 1), rgba(245, 245, 245, 1) 2px, rgba(235, 235, 235, 1));
    
    -webkit-transition-property: border, box-shadow, background-color, background-image, color;
    -webkit-transition-duration: .1s;
    -webkit-transition-timing-function: linear;
    
    -moz-transition-property: border, box-shadow, background-color, background-image, color;
    -moz-transition-duration: .1s;
    -moz-transition-timing-function: linear;
    
    -ms-transition-property: border, box-shadow, background-color, background-image, color;
    -ms-transition-duration: .1s;
    -ms-transition-timing-function: linear;
    
    -o-transition-property: border, box-shadow, background-color, background-image, color;
    -o-transition-duration: .1s;
    -o-transition-timing-function: linear;
    
    transition-property: border, box-shadow, background-color, background-image, color;
    transition-duration: .1s;
    transition-timing-function: linear;
}

.ultimateLargeButtons > li > a:hover,
.ultimateLargeButtons > li.default > a:hover {
    color: #666;
    border-width: 1px;
    border-style: solid;
    border-color: #ffc053 #fa2 #fc9e07;
    
    background-color: #fff9f4;
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 1), rgba(255, 237, 217, 1) 2px, rgba(255, 229, 200, 1));
    background-image: -moz-linear-gradient(rgba(255, 255, 255, 1), rgba(255, 237, 217, 1) 2px, rgba(255, 229, 200, 1));
    background-image: -ms-linear-gradient(rgba(255, 255, 255, 1), rgba(255, 237, 217, 1) 2px, rgba(255, 229, 200, 1));
    background-image: -o-linear-gradient(rgba(255, 255, 255, 1), rgba(255, 237, 217, 1) 2px, rgba(255, 229, 200, 1));
    background-image: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 237, 217, 1) 2px, rgba(255, 229, 200, 1));
}

.ulimateLargeButtons > li > a:focus,
.ulimateLargeButtons > li.default > a:focus
.ulimateLargeButtons > li a:active,
.ulimateLargeButtons > li.default > a:active {
    color: #333;
    border-width: 1px;
    border-style: solid;
    border-color: #fc9e07 #fa2 #ffc053;
    
    background-color: #fff9f4;
    background-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 1), rgba(255, 237, 217, 1) 2px, rgba(255, 229, 200, 1));
    background-image: -moz-linear-gradient(bottom, rgba(255, 255, 255, 1), rgba(255, 237, 217, 1) 2px, rgba(255, 229, 200, 1));
    background-image: -ms-linear-gradient(bottom, rgba(255, 255, 255, 1), rgba(255, 237, 217, 1) 2px, rgba(255, 229, 200, 1));
    background-image: -o-linear-gradient(bottom, rgba(255, 255, 255, 1), rgba(255, 237, 217, 1) 2px, rgba(255, 229, 200, 1));
    background-image: linear-gradient(bottom, rgba(255, 255, 255, 1), rgba(255, 237, 217, 1) 2px, rgba(255, 229, 200, 1));
    
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .1);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .1);
    -ms-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .1);
    -o-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .1);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .1);
}

.ultimateLargeButtons > li.default > a {
    color: #69c;
    border-width: 1px;
    border-style: solid;
    border-color: #7aade0 #69c #5285b8;
    
    background-color: #e7f2fd;
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 1), rgba(233, 244, 255, 1) 2px, rgba(216, 231, 245, 1));
    background-image: -moz-linear-gradient(rgba(255, 255, 255, 1), rgba(233, 244, 255, 1) 2px, rgba(216, 231, 245, 1));
    background-image: -ms-linear-gradient(rgba(255, 255, 255, 1), rgba(233, 244, 255, 1) 2px, rgba(216, 231, 245, 1));
    background-image: -o-linear-gradient(rgba(255, 255, 255, 1), rgba(233, 244, 255, 1) 2px, rgba(216, 231, 245, 1));
    background-image: linear-gradient(rgba(255, 255, 255, 1), rgba(233, 244, 255, 1) 2px, rgba(216, 231, 245, 1));
    
    -webkit-box-shadow: 0 0 10px #369;
    -moz-box-shadow: 0 0 10px #369;
    -ms-box-shadow: 0 0 10px #369;
    -o-box-shadow: 0 0 10px #369;
    box-shadow: 0 0 10px #369;
    
    -webkit-animation-name: glowButtons;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: ease-in-out; 
    
    -moz-animation-name: glowButtons;
    -moz-animation-duration: 1s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: alternate;
    -moz-animation-timing-function: ease-in-out;
    
    -ms-animation-name: glowButtons;
    -ms-animation-duration: 1s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-direction: alternate;
    -ms-animation-timing-function: ease-in-out; 
    /* disabled to ease rendering work for Opera 
    -o-animation-name: glowButtons;
    -o-animation-duration: 1s;
    -o-animation-iteration-count: infinite;
    -o-animation-direction: alternate;
    -o-animation-timing-function: ease-in-out;
    */
    animation-name: glowButtons;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

.ultimateLargeButtons > li.default > a:hover {  
    -webkit-box-shadow: 0 0 10px #fa2;
    -moz-box-shadow: 0 0 10px #fa2;
    -ms-box-shadow: 0 0 10px #fa2;
    -o-box-shadow: 0 0 10px #fa2;
    box-shadow: 0 0 10px #fa2;
    
    -webkit-animation-name: glowButtonsHover;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: ease-in-out; 
    
    -moz-animation-name: glowButtonsHover;
    -moz-animation-duration: 1s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: alternate;
    -moz-animation-timing-function: ease-in-out;
    
    -ms-animation-name: glowButtonsHover;
    -ms-animation-duration: 1s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-direction: alternate;
    -ms-animation-timing-function: ease-in-out; 
    /* disabled to ease rendering work for Opera 
    -o-animation-name: glowButtonsHover;
    -o-animation-duration: 1s;
    -o-animation-iteration-count: infinite;
    -o-animation-direction: alternate;
    -o-animation-timing-function: ease-in-out;
    */
    animation-name: glowButtonsHover;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

.ultimateLargeButtons > li.default > a:active
.ultimateLargeButtons > li.default > a:active {
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .1);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .1);
    -ms-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .1);
    -o-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .1);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .1);
    
    -webkit-animation-name: glowDefaultButtonsActive;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: ease-in-out; 
    
    -moz-animation-name: glowDefaultButtonsActive;
    -moz-animation-duration: 1s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: alternate;
    -moz-animation-timing-function: ease-in-out;
    
    -ms-animation-name: glowDefaultButtonsActive;
    -ms-animation-duration: 1s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-direction: alternate;
    -ms-animation-timing-function: ease-in-out; 
    /* disabled to ease rendering work for Opera 
    -o-animation-name: glowDefaultButtonsActive;
    -o-animation-duration: 1s;
    -o-animation-iteration-count: infinite;
    -o-animation-direction: alternate;
    -o-animation-timing-function: ease-in-out;
    */
    animation-name: glowDefaultButtonsActive;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

.ultimateLargeButtons > li.disabled > a {
    color: #999;
    cursor: default;
    border-width: 1px;
    border-style: solid;
    border-color: #ccc #bbb #aaa;
}

/** entries **/
.ultimateEntry {
    margin-bottom: 20px;
    margin-left: 1px;
    margin-right: 0px;
    position: relative;
}

.ultimateEntry footer {
    position: relative;
    right: -15px;
    bottom: -15px;
}

.ultimateEntry footer nav {
    text-align: right;
 }
 
 @media screen and (min-width: 480px), screen and (min-device-width: 480px) {
    
    .ultimateEntry footer nav {
        opacity: 0;
        
        -webkit-transition: opacity .1s linear;
        -moz-transition: opacity .1s linear;
        -ms-transition: opacity .1s linear;
        -o-transition: opacity .1s linear;
        transition: opacity .1s linear;
    }
    
    .ultimateEntry:hover footer nav {
        opacity: 1;
    }
    
}

@media screen and (max-width: 480px), screen and (max-device-width: 480px) {
    
    .ultimateEntry footer nav
    .ultimateEntry:hover footer nav {
        opacity: 1;
    }
    
}

/** sortables **/

.sortableParent {
    min-height: 200px;
}

ol.sortable,
ul.sortable {
    list-style-type: none;
}

/** invisible popups **/

.ultimateHidden {
    display: none;
}
