/* 

File: ultimate.css 
Copyright 2011 by Jim Martens.

*/
/** column layout **/

.ultimateLeft {
    float: left;
    font-size: 0.9em;
    width: 25em;
}

.ultimateRight {
    float: right;
    font-size: 0.9em;
    width: 25em;
}

.ultimateCenter {
    margin-top: 0;
    margin-bottom: 0;
}
.ultimateCenter .leftMargin {
    margin-left: 25em;
}
.ultimateCenter .rightMargin {
    margin-right: 25em;
}

fieldset.ultimateInvisible {
    border: 0px;
}

/** invisible borders **/
.ultimateBorder {
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
}

.ultimateBorder footer {
    position: relative;
    right: -15px;
    bottom: -15px;
}

.ultimateBorder footer nav {
    text-align: right;
 }
 
 @media screen and (min-width: 480px), screen and (min-device-width: 480px) {
    
    .ultimateBorder footer nav {
        opacity: 0;
        
        -webkit-transition: opacity .1s linear;
        -moz-transition: opacity .1s linear;
        -ms-transition: opacity .1s linear;
        -o-transition: opacity .1s linear;
        transition: opacity .1s linear;
    }
    
    .ultimateBorder:hover footer nav {
        opacity: 1;
    }
    
}

@media screen and (max-width: 480px), screen and (max-device-width: 480px) {
    
    .ultimateBorder footer nav
    .ultimateBorder:hover footer nav {
        opacity: 1;
    }
    
}

/** sortables **/

.sortableParent {
    min-height: 200px;
}

ol.sortable,
ul.sortable {
    list-style-type: none;
}

/** invisible popups **/

.ultimateHidden {
    display: none;
}
