/* 

File: ultimate.css 
Copyright 2011 by Jim Martens.

*/
/** column layout **/

.ultimateLeft {
    float: left;
    font-size: 0.9em;
    width: 25em;
    margin-top: -14px;
}

.ultimateRight {
    float: right;
    font-size: 0.9em;
    width: 25em;
    margin-top: -14px;
}

.ultimateCenter {
    margin-top: 0;
    margin-bottom: 0;
}
.ultimateCenter .leftMargin {
    margin-left: 25em;
}
.ultimateCenter .rightMargin {
    margin-right: 25em;
}

fieldset.ultimateInvisible {
    border: 0px;
}

/** large buttons - own implementation **/

.ultimateLargeButtons {
    text-align: center;   
}

.ultimateLargeButtons > li {
    display: inline;
}

.ultimateLargeButtons > li > a img {
    margin: -5px 1px -5px -5px;
    vertical-align: middle;
}

@media screen and (min-width: 480px), screen and (min-device-width: 480px) {
    
    .ultimateLargeButtons > li > a img {
        height: 24px;
        width: 24px;
    }
    
}

@media screen and (max-width: 480px), screen and (max-device-width: 480px) {
    
    .ultimateLargeButtons > li {
        font-size: 125%;
    }
    
    .ultimateLargeButtons > li > a {
        padding: 10px 15px !important;
        white-space: nowrap;
    }
    
    .ultimateLargeButtons > li > a img {
        height: 32px;
        width: 32px;
    }
    
}

.ultimateLargeButtons > li > a {
    font-size: 100%;
    font-weight: bold;
    border-radius: 30px;
    margin: 3px 2px;
    padding: 5px 13px;
    display: inline-block;
}

/** invisible borders **/
.ultimateBorder {
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
}

.ultimateBorder footer {
    position: relative;
    right: -15px;
    bottom: -15px;
}

.ultimateBorder footer nav {
    text-align: right;
 }
 
 @media screen and (min-width: 480px), screen and (min-device-width: 480px) {
    
    .ultimateBorder footer nav {
        opacity: 0;
        
        -webkit-transition: opacity .1s linear;
        -moz-transition: opacity .1s linear;
        -ms-transition: opacity .1s linear;
        -o-transition: opacity .1s linear;
        transition: opacity .1s linear;
    }
    
    .ultimateBorder:hover footer nav {
        opacity: 1;
    }
    
}

@media screen and (max-width: 480px), screen and (max-device-width: 480px) {
    
    .ultimateBorder footer nav
    .ultimateBorder:hover footer nav {
        opacity: 1;
    }
    
}

/** sortables **/

.sortableParent {
    min-height: 200px;
}

ol.sortable,
ul.sortable {
    list-style-type: none;
}

/** invisible popups **/

.ultimateHidden {
    display: none;
}
